<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
    <div class="row">
        <div class="col-5 desc-box">
            <div class="content-title"><%- page.title %></div>
            <p><span class="desc-title">作者:</span><span class="author-name"><%- theme.author %></span></p>
            <p><span class="desc-title">时间:</span><span id="post-date"><%- date(page.date, "YYYY-MM-DD HH:mm:ss") %></span></p>
        </div>
    </div>
    <div class="row message-content">
        <div id="article"> <%- page.content %></div>
    </div>
</div>