/* #################### 全局 #################### */
* {
    margin: 0;
    padding: 0;
    border: 0;
    /*outline: 1px solid black;*/
}
body{
    background: #000;
}

a{
    color: rgb(71,212,224);
    font-size: 35px;
    text-decoration:none;
}
a:hover{
    color: rgb(71,212,224);
}

html, body {
    height: 100%;
}


nav {
    margin-bottom: 30px;
}

/* #################### 全局 #################### */

/* #################### 导航 #################### */
nav #menu {
    float: left;
    width: 100%;
    /*border-bottom: 1px solid rgb(123,186,181);*/
}

.nav-item:first-of-type{
}
.nav-item{
    border-radius: 0;
    border-bottom: none;
    float: left;
    padding: 10px;
    list-style: none;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: rgb(123,186,181);
    border-radius: 0;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    border-radius: 0;
    color: rgb(71,212,224);
    border-color:rgb(123,186,181) rgb(123,186,181)  #000;
    border-bottom: none;
}
.nav-img{
    width: 65px;
    height: 65px;
    background: url('../img/q0.png') ;
    background-size: cover;
}
.nav-img-online{
    width: 65px;
    height: 65px;
    background: url('../img/e0.png') ;
    background-size: cover;
}
.nav-title{
    width: 252px;
    height: 73px;
    background: url('../img/t0.png') no-repeat;
    background-size:100% 100%;
    margin-left: 70px;
    margin-top: -65px;
    font-weight: 200;
    padding-left: 20px;
}

.nav-tabs {
    border-bottom: 1px solid rgb(123,186,181);
}
/* #################### 导航 #################### */

/* #################### 侧边栏 #################### */
.nav-tabs {
    border-bottom: 1px solid rgb(123,186,181);
}

.message-item{
    background: url('../img/m1.png') no-repeat;
    background-size:100% 100%;
    margin-bottom: 10px;
    border-radius: 0;
    height: 75px;
    max-height: 75px;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: rgb(71,212,224);
    background: url('../img/m2.png') no-repeat;
    background-size:100% 100%;
}
.content-box{
    border-right: 1px solid rgb(71,212,224);
    border-top: 1px solid rgb(71,212,224);
    border-bottom: 1px solid rgb(71,212,224);
    padding-top: 10px;
}
.message-title{
    margin-left: 20%;
    margin-top: 5%;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    font-size: 28px;
    font-weight: 150;
}
.message-title-box{
    padding-top: 10px;
    border-left: 1px solid rgb(71,212,224);
    border-top: 1px solid rgb(71,212,224);
    border-bottom: 1px solid rgb(71,212,224);
}
/* #################### 侧边栏 #################### */

/* #################### 文章 #################### */
/* 作者 时间 相关 */
.content-title{
    color: rgb(206,231,221);
    font-size: 30px;
    font-weight: 200;
    margin-top: 30px;
    margin-bottom: 10px;
}
.desc-title{
    color: rgb(41, 99, 109);
    font-size: 20px;
}
.author-name{
    font-size: 20px;
    color: rgb(237,255,251);
    padding-left: 10px;
}
.message-content{
    font-size: 25px;
    font-weight: 300;
    color: rgb(230,219,204);
}


/* 文章各个元素间隔 */
#article {
    padding: 30px;
    padding-top: 0px;
}
#article * {
    margin: 30px 0;
}

#article h1,
#article h1,
#article h2,
#article h3,
#article h4,
#article h5,
#article h6 {
    line-height: 40px;
    margin: 20px 0 15px;
}


#article h1 {
    font-size: 32px;
    font-weight: 900;
    padding-bottom: 10px;
    border-bottom: 2px solid #e06c75;
}

#article h2 {
    font-size: 25px;
    border-left: 3px solid rgb(71,212,224);
    padding-left: 10px;
}

#article h3 {
    font-size: 22px
}

#article a {
    color: rgb(71,212,224);
    text-decoration: none;
}

#article a:hover {
    border-bottom: 1px solid;
}

#article h1 a:hover{
    border-bottom: none;
}
#article code {
    border-radius: 2px;
    background: rgb(16,19,13);
    border: 1px solid rgb(12,49,53);
    /*box-shadow: 0px 0px 5px rgb(71,212,224);*/
    white-space: inherit
}

#article p code{
    color: rgb(114, 186, 193);
    font-size: 18px;
    font-weight: 100;
    border: none;
}

#article img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgb(71,212,224);
}

#article pre {
    font-size: 16px;
    margin: 20px 0 15px;
}

#article p {
    margin: 0 0 10px;
    line-height: 30px
}

/* 表格处理 */
#article table {
    width: 100%;
    border: 0;
    margin: 20px 0 50px 0;
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 35px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #999;
}

#article table th {
    background: #73b1e0;
    font-weight: 800;
    font-size: 18px;
    text-align: left;
    line-height: 35px;
    color: #FFF;
}

#article table tr:nth-child(odd) {
    background: #F4F4F4;
}

#article table tr:hover,
#article table td:hover {
    background: #badbf5;
    color: #FFF;
}

#article table td, table th {
    padding: 5px 20px 5px 20px
}

#article table tr:first-child th:first-child {
    border-top-left-radius: 3px;
}

#article table tr:first-child th:last-child {
    border-top-right-radius: 3px;
}

#article table tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

#article table tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

/* #################### 文章 #################### */
